---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---


<section class="container">
	<h1>Archive</h1>
</section>

<section class="container" style="padding-bottom: 200px;">
	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
</section>

