---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="hero home_1" style="">
	<div class="container large">

		<div class="main">
			<div class="copy">
				<div class="title">
					<h1>The <span>Past</span> is <span>Alive</span></h1>
				</div>
				<div class="caption">
					<p class="cut_out">Rising from the festering slime of the extreme metal underground comes <span class="cut_out_alt">Necro Cult</span>.  Through blasphemous sorcery and occult science, we bring forth the eldritch filth of our metalzine forefathers into this benighted age of technology. We spread the black gospel of metal through album reviews, reporting on local shows, and retrospectives on lesser known bands and subgenres.</p>
					<br>
					<br>
					<p class="cut_out">Hail Satan!  Brothers of Steel!  Death to False Metal!</p>
					<br><br><br>
					<a class="cta modal_open" data-modal="newsletter_modal">Sign Up</a>
				</div>
			</div>

			<div class="">
				
			</div>
		</div>

		<div class="home_hero_slider">
			<h2>featured</h2>

			{% set postslist = collections.featured.slice(0, 3) %}
			{% include "featured_slider.njk" %}

		</div>

	</div>
</section>


<section>

	<div class="container large home_2 clearfix">

	<div class="article_preview_feed">
		<div class="header">
			<h2>Latest Articles</h2>
		</div>


		{% set postslist = collections.posts.slice(0, 3) %}
		{% include "postslist.njk" %}

		<!--<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>-->
		<div class="button_wrapper">
			<a class="cta" href="{{ '/posts/' | url }}">
				Enter the Archives
			</a>
		</div>
		


	</div>


	<div class="sidebar ">


		{% include "sidebar_1.njk" %}


	</div>


	</div>
</section>