---
layout: layouts/home.njk
permalink: /styleguide/
eleventyNavigation:
  key: styleguide
  order: 3
---


<article>
	
	<!-- HERO/TITLE -->
	<section class="article_hero container" style="background-image: url('/img/articles/morbid/evil-dead-1.jpg');">

		<div class="copy">
			<h1 class="title">
				<span class="column_name">Tales From The Basement:</span>
				<br>
				<span class="main">Morbid</span>
			</h1>
		</div>
		

		<span class="image_credit">
			CREDIT: The Evil Dead, 1981
		</span>
	</section>
	
	<!-- INTRO -->
	<div class="article_spacer">
		<img src="/img/barbed-wire-border-trans-large.png">
	</div>

	<!-- INTRO -->
	<section class="article_section container" mobile-flex="column">

		<div class="copy">
			<div class="inner">

				<p class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Praesent tristique magna sit amet purus gravida quis blandit turpis. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Aliquam etiam erat velit scelerisque in dictum non consectetur a. Lectus mauris ultrices eros in cursus. Quisque egestas diam in arcu cursus. At varius vel pharetra vel turpis nunc eget. Lectus sit amet est placerat. Magna eget est lorem ipsum dolor. Augue ut lectus arcu bibendum at varius vel.
				</p>

				<p class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Praesent tristique magna sit amet purus gravida quis blandit turpis. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. 
				</p>

			</div>
		</div>

		<div class="image">
			<img src="/img/articles/morbid/morbid.jpg">
		</div>
		
	</section>

	

	<section class="article_section row_reverse container" mobile-flex="column">

		<div class="copy">
			<div class="inner">

				<p class="cut_out">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Praesent tristique magna sit amet purus gravida quis blandit turpis. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. 
				</p>

				<div class="article_spacer small">
					<img src="/img/barbed-wire-border-trans-large.png">
				</div>

				<p class="cut_out">
					Aliquam etiam erat velit scelerisque in dictum non consectetur a. Lectus mauris ultrices eros in cursus. Quisque egestas diam in arcu cursus. At varius vel pharetra vel turpis nunc eget. Lectus sit amet est placerat. Magna eget est lorem ipsum dolor. Augue ut lectus arcu bibendum at varius vel.
				</p>

			</div>
		</div>

		<div class="image">
			<img src="/img/articles/morbid/dead-1.jpg">
		</div>
		
	</section>

	
</article>