<div class="modal" data-modal="newsletter_modal" >

	<div class="bg " style="background-image: url('/img/newsletter-modal-dead.jpg'); opacity: .5; filter: grayscale(1);"></div>

	<div class="modal_close main">
		<img src="/img/icons/x-1.png">
	</div>
	
	<div class="copy">
		<p class="headline">Newsletter</p>
		<p class="body">
			Sign up for our weekly newsletter today and follow us on social media.
		</p>
	</div>



	<form class="newsletter_form" method="post" action="https://formspree.io/mqkyzkje">
		<div class="form_cell">
			<label id="sign_up_1">Email Address</label>
			<input id="sign_up_1" type="email" name="Email">
		</div>
		<div class="form_cell submit">
			
			<input class="texture_paper_black" type="submit" name="Sign-Up" value="Sign Up">
			
			<div class="social">
			  <a href="#" target="_blank">
			  	<i class="fab fa-facebook-square"></i>
			  </a>
			  <a href="https://www.instagram.com/necrocultzine/" target="_blank">
			  	<i class="fab fa-instagram"></i>
			  </a>
			</div>

		</div>
	</form>
</div>