<div class="sticky_sidebar">
	
	<div class="sidebar_cell form">
		<a class="button_1 modal_open" data-modal="newsletter_modal" >newsletter</a>
	</div>

	<div class="sidebar_cell sponsor" >
		<h3>sponsors</h3>

		<!-- Swiper -->
		  <div class="swiper-container" data-slider="sidebar_slider_1">
		    <div class="swiper-wrapper">
		     
		      <div class="swiper-slide">
		      	<a href="https://judasbeastco.com/?utm_source=necrocult" target="_blank">
		      		<img src="/img/sidebar/judas-beast-ad.jpg" alt="Judas Beast - Clothes for Metalheads and Metal Pets">
		      	</a>
		      </div>

			<div class="swiper-slide">
				<a href="https://dungeonmasteraudio.com/" target="_blank">
					<img src="/img/sidebar/dma-ad.jpg" alt="Dungeon Master Audo">
				</a>
			</div>

		    </div>
		    <!-- Add Pagination -->
		    <div class="swiper-pagination"></div>
		  </div>

		
	</div> 

</div>